<div class="center" *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  
  <div><span>id: </span><b>{{hero.id}}</b></div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>&nbsp;&nbsp;
    <input id="hero-designation" [(ngModel)]="hero.designation" placeholder="Hero designation" />&nbsp;&nbsp;
    <button (click)="save()">save</button>&nbsp;&nbsp;
    <button class="go-back" (click)="goBack()">go back</button>
  </div>
</div>